In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_excel(r"W:\019_Glassdoor\1 Data\1 Glassdoor Links\Cineworld.xlsx")
df

,ID,CIQ Transaction ID,Acquirer,All Transactions Announced Date,name,ciq,isin,status,correct
0,8840,IQTR39746076,1,2008-01-02,Crusader Energy Group Inc.,IQ10739227,US96149R1005,Closed,1
1,8841,IQTR41314129,1,2008-01-02,"Digital Turbine, Inc. (NasdaqCM:APPS)",IQ29032475,US25400W1027,Closed,1
2,8842,IQTR39796183,1,2008-01-03,LBO Capital Corp.,IQ23246597,US5017923039,Closed,1
3,8845,IQTR40676292,1,2008-01-03,AgriMarine Holdings Inc.,IQ39797746,CA00855M4048,Closed,1
4,8849,IQTR39860592,1,2008-01-04,"CelLynx Group, Inc.",IQ39828264,US15117L1017,Closed,1
...,...,...,...,...,...,...,...,...,...
18857,3957,IQTR1785402503,0,2022-06-01,Pires Investments plc (AIM:PIRI),IQ881468,GB00BD07SH45,NaN,0
18858,3960,IQTR1785465685,0,2022-06-02,WikiSoft Corp. (OTCPK:WSFT),IQ700439773,US96773L1061,NaN,1
18859,3961,IQTR1785484434,0,2022-06-02,"Bagger Dave's Burger Tavern, Inc. (OTCPK:BDVB)",IQ342444312,US0566462018,NaN,1
18860,3963,IQTR1785566742,0,2022-06-03,"Turning Point Therapeutics, Inc. (NasdaqGS:TPTX)",IQ253779426,US90041T1088,NaN,1
18861,3965,IQTR1785963311,0,2022-06-06,Registry Direct Limited (ASX:RD1),IQ261225929,AU000000RD14,NaN,1

In [24]:
df = df[["CIQ Transaction ID", "Acquirer", "ciq", "isin", "correct"]]
df

      CIQ Transaction ID  Acquirer          ciq          isin  correct
0           IQTR39746076         1   IQ10739227  US96149R1005        1
1           IQTR41314129         1   IQ29032475  US25400W1027        1
2           IQTR39796183         1   IQ23246597  US5017923039        1
3           IQTR40676292         1   IQ39797746  CA00855M4048        1
4           IQTR39860592         1   IQ39828264  US15117L1017        1
...                  ...       ...          ...           ...      ...
18857     IQTR1785402503         0     IQ881468  GB00BD07SH45        0
18858     IQTR1785465685         0  IQ700439773  US96773L1061        1
18859     IQTR1785484434         0  IQ342444312  US0566462018        1
18860     IQTR1785566742         0  IQ253779426  US90041T1088        1
18861     IQTR1785963311         0  IQ261225929  AU000000RD14        1

[18862 rows x 5 columns]

In [25]:
# https://stackoverflow.com/questions/70074621/python-pandas-pivot-table-for-multiple-columns-at-once-which-has-duplicate-val
df_out = df.set_index(['CIQ Transaction ID',
                       df.groupby(['CIQ Transaction ID'])\
           .cumcount() +1]).unstack()
df_out.columns = [f'{i}_{j}' for i, j in df_out.columns]
df_out = df_out.reset_index()
df_out

,CIQ Transaction ID,Acquirer_1,Acquirer_2,ciq_1,ciq_2,isin_1,isin_2,correct_1,correct_2
0,IQTR100060709,1,0,IQ28561884,IQ11851473,CA11777P3007,CA12770V1040,1,1
1,IQTR100063105,1,0,IQ100063076,IQ39122187,CA0536771003,CA3788771044,1,1
2,IQTR100064185,1,0,IQ100064026,IQ33197161,US81932P1075,US0515051052,1,1
3,IQTR100068339,1,0,IQ100068331,IQ36845793,US22529R1068,US05603U1034,1,1
4,IQTR100068962,1,0,IQ253018,IQ25491,US0538071038,US0781371069,1,1
...,...,...,...,...,...,...,...,...,...
9426,IQTR99988791,1,0,IQ37182616,IQ34667118,CA29758W4092,CA2998201008,1,1
9427,IQTR99989070,1,0,IQ99988987,IQ37896892,CA7565511077,CA65404A1021,1,1
9428,IQTR99990340,1,0,IQ60869584,IQ23553298,CA8875441047,CA68284Q1063,1,1
9429,IQTR99993197,1,0,IQ99992993,IQ59604856,CA44330T1057,CA79606Q1046,1,1
9430,IQTR99999946,1,0,IQ43322674,IQ39277681,CA6861543032,CA6861541051,1,1

In [29]:
df_issues = df_out[(df_out["correct_1"] == 0) | (df_out["correct_2"] == 0) & (df_out["ciq_1"] != df_out["ciq_2"])] #df_out["ciq_1"] != df_out["ciq_2"] -> es gibt vor allem fÃ¤lle, in denen ISIN von acq und target identisch sind (weil nicht updated)
df_issues

,CIQ Transaction ID,Acquirer_1,Acquirer_2,ciq_1,ciq_2,isin_1,isin_2,correct_1,correct_2
6,IQTR100149334,1,0,IQ100149309,IQ34869178,CA95640X1033,CA0369071034,0,1
8,IQTR100170311,1,0,IQ287798,IQ359675,US5951371005,US9638011059,1,0
12,IQTR100314157,1,0,IQ100314119,IQ49901168,US2577531039,US45407R1041,1,0
18,IQTR100455092,1,0,IQ100455037,IQ43884402,US37251M1099,US37251M1099,1,0
28,IQTR100501124,1,0,IQ100500979,IQ10245088,US16949W1099,US16949W1099,0,1
...,...,...,...,...,...,...,...,...,...
9408,IQTR99806519,1,0,IQ34049884,IQ877331,GB00B1QH8P22,GB0001028322,0,1
9417,IQTR99942126,1,0,IQ60367675,IQ69928302,CA01021L1067,CA2267501070,0,1
9419,IQTR99943190,1,0,IQ46235974,IQ46638461,AU000000PUR3,AU000000RVE5,0,1
9420,IQTR99943507,1,0,IQ99614879,IQ1745667,US7444252081,US7444252081,1,0
9424,IQTR99944998,1,0,IQ99944913,IQ29779,US8711561055,US45248L3087,0,1